USE [master]
GO
/****** Object:  Database [Auction_DB]    Script Date: 9/25/2024 2:26:10 PM ******/
CREATE DATABASE [Auction_DB]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'AUCTION_MDF', FILENAME = N'C:\IT\SQL baze\Auction\DB_Auction.mdf' , SIZE = 524608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ),
( NAME = N'AUCTION_NDF', FILENAME = N'C:\IT\SQL baze\Auction\DB_Auction.ndf' , SIZE = 524608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB ), 
 FILEGROUP [Auction_FG] 
( NAME = N'AUCTION_FG_NDF', FILENAME = N'C:\IT\SQL baze\Auction\DB_Auction_fg.ndf' , SIZE = 262144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'AUCTION_LOG', FILENAME = N'C:\IT\SQL baze\Auction\DB_log.ldf' , SIZE = 262144KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auction_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auction_DB]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 9/25/2024 2:26:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[auction_id] [int] IDENTITY(1,1) NOT NULL,
	[bestbidder] [nvarchar](50) NULL,
	[best_offer] [float] NULL,
	[added] [datetime] NOT NULL CONSTRAINT [DF_Offer_added]  DEFAULT (getdate()),
	[winner] [nvarchar](100) NULL,
	[active] [bit] NOT NULL CONSTRAINT [DF_Offer_active]  DEFAULT ((1)),
	[product_name] [nvarchar](50) NOT NULL,
	[product_type] [nvarchar](50) NOT NULL,
	[product_price] [float] NOT NULL,
	[timeleft] [nvarchar](15) NULL,
 CONSTRAINT [PK_auction_id] PRIMARY KEY CLUSTERED 
(
	[auction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/25/2024 2:26:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL CONSTRAINT [DF_Users_isAdmin]  DEFAULT ((0)),
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_user_id] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_username]    Script Date: 9/25/2024 2:26:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNIQUE_username] ON [dbo].[User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
